.dashboard {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.entireDashboard {
    max-width: 1400px;
}
.topBar {
    width: 100%;
    /* Make the top bar span the full width */
  }
  
  .mainContent {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 200px; /* Set a fixed width for sidebar */
    flex-shrink: 0; /* Prevent shrinking */
  }
  
  .animalContainer {
    flex-grow: 1; /* Allow animal container to take the remaining space */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    gap: 0; /* No gap between elements */
  }
  
.separator {
    border: none;
    border-top: 1px solid #ddd;
}